#bs-example-navbar-collapse-1 .nav li a {
    color: #0085A1;
    cursor: pointer;
}

.active { 
    text-decoration: underline;
}

body {
    background-color: #f7f7f7;
}

.logo-small {
    height: 40px;
    width: 40px;
}

.main-desc hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #f7f7f7; /* old IE */
    background-color: #f7f7f7; /* Modern Browsers */
}

.main-desc h2 {
    color: #0085A1;
}

.intro-header {
    background-color: #333333;
}

#short-desc {
    font-size: 12px;
}