#bs-example-navbar-collapse-1 .nav li a {
    color: black;
    cursor: pointer;
}

.active { 
    border: 2px solid black;
    border-radius: 5%;
}

body {
    background-color: #f7f7f7;
}

.dark-text {
    color: #333333;
}

.logo-small {
    height: 40px;
    width: 40px;
}