/* 
    Author: Tashley Toocaram
    Email: tashleyvivesh@gmail.com
    Website: https://codenametashley.github.io
    Repository: https://github.com/CodenameTashley/codenametashley.github.io
 */

/* CSS reset */

* {
    margin: 0;
    padding: 0;
}

/* Variables */

:root {
    --dark-blue: #2A3A47;
    --grey-background: #D1D1D1;
    --light-grey-background: #E3E3E3;
}

body {
    font: 600 20px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: var(--grey-background);
    margin: 0;
}

/* *** HEADER *** */

header {
    height: 10vh;
    width: 100vw;
    background-color: var(--dark-blue);
    color: var(--grey-background);
    text-align: center;
}

header img {
    margin-top: 1vh;
    margin-left: 1vh;
    float: left;
    height: 8vh;
    width: 8vh;
}

header h1 {
    margin: 0;
    line-height: 10vh;
    font-size: x-large;
}

/* *** END OF HEADER *** */

/* *** FOOTER *** */

footer {
    text-align: center;
}

/* *** END OF FOOTER *** */

main {
    height: 80vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--light-grey-background);
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--grey-background);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--dark-blue);
}